@model Signature.Models.SupplierViewModel
@{
                /**/

                Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Supplier</h2>

@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Add</title>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body>*@

@section MyStyle
{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
}
<div>
    <a href="Search">Search Supplier</a>
    <form method="post">

        <table>


            <tr>
                <td>@Html.LabelFor(c => c.Code)</td>
                @*<td><input type="text" name="Code" value="@Model.Code" /></td>*@
                <td>@Html.TextBoxFor(c => c.Code, Model.Code)</td>
                <td>@Html.ValidationMessageFor(c => c.Code)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.Name)</td>
                @*<td><input type="text" name="Name" value="@Model.Name" /></td>*@
                <td>@Html.TextBoxFor(c => c.Name, Model.Name)</td>
                <td>@Html.ValidationMessageFor(c => c.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.Address)</td>
                @*<td><input type="text" name="Address" value="@Model.Address" /></td>*@
                <td>@Html.TextBoxFor(c => c.Address, Model.Address)</td>
                <td>@Html.ValidationMessageFor(c => c.Address)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.Contact)</td>
                @*<td><input type="text" name="Contact" value="@Model.Contact" /></td>*@
                <td>@Html.TextBoxFor(c => c.Contact, Model.Contact)</td>
                <td>@Html.ValidationMessageFor(c => c.Contact)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.Email)</td>
                @*<td><input type="text" name="Email" value="@Model.Email"/></td>*@
                <td>@Html.TextBoxFor(c => c.Email, Model.Email)</td>
                <td>@Html.ValidationMessageFor(c => c.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.ContactPerson)</td>
                @*<td><input type="text" name="Contact_Person" value="@Model.Contact_Person" /></td>*@
                <td>@Html.TextBoxFor(c => c.ContactPerson, Model.ContactPerson)</td>
                <td>@Html.ValidationMessageFor(c => c.ContactPerson)</td>
            </tr>
            <tr>

                <td></td>
                <td><input type="submit" value="Save"/></td>
                <td>
                    @if (ViewBag.Message != null)
                    {
                        <h3>
                            <b>
                                @ViewBag.Message
                            </b>
                        </h3>
                    }

                </td>
            </tr>

        </table>
    </form>

    @{
        Html.RenderPartial("~/Views/Shared/Supplier/_SupplierDetails.cshtml", Model);

    }


</div>



@section MyScript
{

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

   

}
@*</body>
    </html>*@

