@model Signature.Models.CategoryViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Category</h2>

@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Add</title>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body>*@

@section MyStyle
{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
}
    <div>

        <a href="Search">Search Category</a>

        <form method="post">

            <table>

                <tr>
                    <td>@Html.LabelFor(c => c.Code)</td>
                    @*<td><input type="text" name="Code" value="@Model.Code" /></td>*@
                    <td>@Html.TextBoxFor(c => c.Code, Model.Code)<span id="feedback"></span></td>
                    <td>@Html.ValidationMessageFor(c => c.Code)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Name)</td>
                    @*<td><input type="text" name="Name" value="@Model.Name" /></td>*@
                    <td>@Html.TextBoxFor(c => c.Name, Model.Name)</td>
                    <td>@Html.ValidationMessageFor(c => c.Name)</td>
                </tr>
                <tr>

                    <td></td>
                    <td><input type="submit" value="Save" id="save" /></td>
                    <td>
                        @if (ViewBag.Message != null)
                        {
                            <h3>
                                <b>
                                    @ViewBag.Message
                                </b>
                            </h3>
                        }

                    </td>
                </tr>

            </table>
        </form>

        @{
            Html.RenderPartial("~/Views/Shared/Category/_CategoryDetails.cshtml", Model);

        }


    </div>

@section MyScript
{

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    
}
@*</body>
    </html>*@

