@model Signature.Models.CustomerViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Add</title>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body>*@

@section MyStyle
{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
}
    <div>
        <a href="../Search">Search Customer</a>
        <a href="../Add">Add Customer</a>
        <form method="post">
            <table>
                <tr>
                    <td>@Html.LabelFor(c => c.Code)</td>
                    <td>
                        <input type="text" name="Code" id="Code" value="@Model.Code" required maxlength="4" minlength="4" />
                        <p id="codefeedback"></p>
                    </td>
                    <p><input type="hidden" name="Id" id="Id" value="@Model.Id" /></p>
                    @*<td>@Html.TextBoxFor(c => c.Code, Model.Code)</td>*@
                    <td>@Html.ValidationMessageFor(c => c.Code)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Name)</td>
                    @*<td><input type="text" name="Name" value="@Model.Name" required /></td>*@
                    <td>@Html.TextBoxFor(c => c.Name, Model.Name)</td>
                    <td>@Html.ValidationMessageFor(c => c.Name)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Address)</td>
                    @*<td><input type="text" name="Address" value="@Model.Address" /></td>*@
                    <td>@Html.TextBoxFor(c => c.Address, Model.Address)</td>
                    <td>@Html.ValidationMessageFor(c => c.Address)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Contact)</td>
                    <td>
                        <input type="text" name="Contact" id="Contact" value="@Model.Contact" required />
                        <p id="contactfeedback"></p>
                    </td>
                    @*<td>@Html.TextBoxFor(c => c.Contact, Model.Contact)</td>*@
                    <td>@Html.ValidationMessageFor(c => c.Contact)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Email)</td>
                    <td>
                        <input type="email" name="Email" id="Email" value="@Model.Email" required />
                        <p id="emailfeedback"></p>
                    </td>
                    @*<td>@Html.TextBoxFor(c => c.Email, Model.Email)</td>*@
                    <td>@Html.ValidationMessageFor(c => c.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.LoyalityPoint)</td>
                    @*<td><input type="text" name="Contact_Person" value="@Model.Contact_Person" /></td>*@
                    <td>@Html.TextBoxFor(c => c.LoyalityPoint, Model.LoyalityPoint)</td>
                    <td>@Html.ValidationMessageFor(c => c.LoyalityPoint)</td>
                </tr>
                <tr>

                    <td></td>
                    <td><input type="submit" value="Update" /></td>
                    <td>
                        @if (ViewBag.Message != null)
                        {
                            <h3>
                                <b>
                                    @ViewBag.Message
                                </b>
                            </h3>
                        }

                    </td>
                </tr>

            </table>
        </form>

        @{
            Html.RenderPartial("~/Views/Shared/Customer/_CustomerDetails.cshtml", Model);

        }
    </div>

@section MyScript
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    <script>




        $(document).ready(function () {

            $("#Code").focusout(function () {
                var code = $("#Code").val();
                var id = $("#Id").val();
                var jsonRequestData = { code: code, id: id }
                $.ajax({
                    url: "/Customer/IsCodeExistforEdit",
                    type: "POST",
                    data: jsonRequestData,
                    success: function (data) {
                        if (data === true) {
                            //alert("Bill exist");
                            $("#codefeedback").html("This Code already Exist");
                            $("#Code").val(null);
                        } else {
                            //  alert("Not Exist");
                            $("#codefeedback").html("");
                        }

                    },
                    error: function () {
                        alert("Ajax failed");
                    }
                });
            });

            $("#Contact").focusout(function () {
                var contact = $("#Contact").val();
                var id = $("#Id").val();
                var jsonRequestData = { contact: contact, id: id }
                $.ajax({
                    url: "/Customer/IsContactExistforEdit",
                    type: "POST",
                    data: jsonRequestData,
                    success: function (data) {
                        if (data === true) {
                            //alert("Bill exist");
                            $("#contactfeedback").html("This contact already Exist");
                            $("#Contact").val(null);
                        } else {
                            //  alert("Not Exist");
                            $("#contactfeedback").html("");
                        }

                    },
                    error: function () {
                        alert("Ajax failed");
                    }
                });
            });

            $("#Email").focusout(function () {
                var email = $("#Email").val();
                var id = $("#Id").val();
                var jsonRequestData = { email: email, id: id }
                $.ajax({
                    url: "/Customer/IsEmailExistforEdit",
                    type: "POST",
                    data: jsonRequestData,
                    success: function (data) {
                        if (data === true) {
                            //alert("Bill exist");
                            $("#emailfeedback").html("This Email already Exist");
                            $("#Email").val(null);
                        } else {
                            //  alert("Not Exist");
                            $("#emailfeedback").html("");
                        }

                    },
                    error: function () {
                        alert("Ajax failed");
                    }
                });
            });
        });


    </script>


}


@* </body>
    </html>*@


